name: Release

on:
  push:
    branches:
      - main

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  run-tests:
    name: Tests
    users: ./.github/workflows/test.yml

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment
        uses: ./.github/actions/setup-env

      # - name: Run semantic-release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: npx semantic-release

      # - name: Publish to VS Code Marketplace
      #   if: success()
      #   run: npx vsce publish -p ${{ secrets.VSCE_TOKEN }}
